#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#title{
  color: red;
  font-weight: bold;
  background: linear-gradient(90deg, #9501ff, #0655f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}